$fancy-font-blue = #004EFB;
$footer-height-lg = 100px;
@import '../../../css/settings.styl'

body
  min-height 100%

.home
  //position fixed
  //bottom $footer-height-lg
  //margin 60px
  //height 100%
  //width 100%
  // above(1200px)
  //   margin 30px 80px

  color white

  .home__hackathon-name
    font-size 4vw
    font-weight bold
    letter-spacing 1.81
    p
      margin 0
    .home__hackathon-name__line2
      margin-left 5vw

  .home__teaser-text
    margin-top 80px
    font-size 24px
    ul
      position relative
      list-style none
      margin-left 0
      padding-left 1.2em
    ul li:before
      content "+"
      position absolute
      font-weight 800
      left 0
      color $hacker-blue
    a
      color white
      text-decoration underline
  .home__social-icons
    margin-top 10px
    a
      padding 6px
    .social-icon--facebook
      width 22px
    .social-icon--youtube
      width 30px
    .social-icon--github
      width 24px
    .social-icon--twitter
      width 24px

  @media screen and (max-width: $breakPointSmall)
    .home__hackathon-name
      padding: 12px;
  @media screen and (max-width: $breakPointMedium)
    .home__hackathon-name
      font-size: 7vw;

    .home__teaser-text
      font-size 16px
      margin-top 60px
  @media screen and (min-width: $breakPointMedium) and (max-width $breakPointBig)
    .home__hackathon-name
      font-size: 6vw;

    .home__teaser-text
      font-size 20px
