@import '../../../css/settings.styl'

.home
  width 100vw
  overflow-x hidden
  text-align left
  height 100vh
  background: url(./img/berlin_mosaic.jpg) black;
  //background-size: 240vw auto;
  //background-repeat: no-repeat;
  ////background-attachment: fixed;
  //background-position: 0 0;
  background-repeat no-repeat
  //background-attachment: fixed;
  background-size cover
  background-position center center
  color white

  .startseite-logo__container
    position relative
    margin auto
    width 100%
    text-align center
    top 25%
    //left: 50%;
    //margin: auto;
    //top: 0;
    //left: 0;
    //right: 0;
    //bottom: 0;
    .startseite-logo__img
      //position: absolute;
      //left: 50%;
      //top: 50%;
      //margin: auto;
      width 35vw
  //height 40vh

  .home__hackathon-name
    .home__hackathon-name--image
      width 40vw

  .home__teaser-text
    bottom 0
    display none
    position absolute
    font-size 24px
    ul
      position relative
      list-style none
      margin-left 0
      padding-left 1.2em
    ul li:before
      content "+"
      position absolute
      font-weight 800
      left 0
      color $hacker-blue
    a
      color white
      text-decoration underline
  .home__social-icons
    margin-top 10px
    a
      padding 6px
    .social-icon--facebook
      width 22px
    .social-icon--youtube
      width 30px
    .social-icon--github
      width 24px
    .social-icon--twitter
      width 24px

  @media screen and (max-width: $breakPointSmall)
    .home__teaser-text
      margin-left 12px

    .home__hackathon-name
      padding: 12px;
  @media screen and (max-width: $breakPointMedium)
    .home__hackathon-name
      .home__hackathon-name--image
        width 50vw

    .home__teaser-text
      font-size 16px
      margin-top 60px
  @media screen and (min-width: $breakPointMedium) and (max-width $breakPointBig)
    .home__hackathon-name
      font-size: 6vw;

    .home__teaser-text
      font-size 20px


