$fancy-font-blue = #004EFB;
$footer-height-lg = 100px;

.home {
  position: fixed;
  bottom: $footer-height-lg;
  margin 60px
  // above(1200px)
  //   margin 30px 80px

  p {
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1;
    padding: 0;
    margin: 0;
  }

  .home__teaser-text {
    font-size: calc(3vw + 15px)
    margin-bottom: 50px;
  }

  .home__hackathon-name {
    font-size: 9vw;
    color: $fancy-font-blue;
  }

}