.prizes
  .fieldset__container--criteria
    text-align left
    .fieldset__container-wrapper
      display block
      text-align left
      margin 12px
      .percent-text
        display inline-block
        width 46px

.jury
  .fieldset__container-wrapper
    align-items flex-start
  .circle-image__container
    width 210px