.circle-image__container
  display flex
  justify-content center
  flex-wrap wrap
  align-content flex-start
  .circle-image__item
    min-width 240px
    width 25vw
    max-width 400px
    margin 12px
    padding 24px
    background #151515
    flex 0 0 auto
    .circle-image
      width 120px
      height 120px
      border-radius 50%
      .image-text
      .image-text--line2
        color white

//.circle-image
//  .image-text