.sponsors
  .sponsor-logos
    display flex
    flex 1 0 auto
    flex-wrap wrap
    .full-image__container
      margin auto
      padding 12px
      display inline-block
      text-align center
      .full-image
        color white
        height 100px
      .image-text-title
        color white
      .image-text
        color white
      .image-text-2
        font-family 'Letter Gothic Std'
      @media screen and (max-width: $breakPointBig)
        .full-image
          max-width 200px !important