@import '../../../css/settings.styl'

.sponsors
  .sponsor-logos
    display flex
    flex-direction row
    flex-wrap wrap
    .full-image__container
      flex 1 0 350px
      margin-top 80px
      padding 12px
      display inline-block
      text-align center
      @media screen and (max-width: $breakPointMedium)
        margin-top 30px
      @media screen and (max-width: $breakPointSmall)
        flex 1 1 120px
        margin-top 6px
        padding 8px
      .sponsor-class
        @media screen and (max-width: $breakPointMedium)
          padding 0
          margin 0
        @media screen and (max-width: $breakPointSmall)
          display none
      .full-image-wrap
        display flex
        align-items center
        justify-content center
      .full-image
        max-width 300px
        max-height 170px
        width auto
        height auto
        @media screen and (max-width: $breakPointSmall)
          max-width 150px
          max-height 84px

