.sponsors
  width 85vw
  
  .sponsor-logos
    display flex
    flex-direction row
    flex-wrap wrap
    .full-image__container
      flex 1 350px
      margin-top 80px
      padding 12px
      display inline-block
      text-align center
      .full-image-wrap
        height 140px
        display flex
        align-items center
        justify-content center
      .full-image
        color white
        height 100px
      .image-text-title
        color white
      .image-text
        color white
      .image-text-2
        font-family 'Letter Gothic Std'
      @media screen and (max-width: $breakPointBig)
        .full-image
          max-width 200px !important