$hacker-blue = #004EFB

.become-a-sponsor {
  .sponsor-paragraph__container {
    .sponsor-paragraph__title {
      font-size 44px
      line-height 1
      font-weight bold
      color $hacker-blue
    }

    .sponsor-paragraph__text {
      color #000000
      font-size 44px
      line-height 1
      font-weight bold
      margin-bottom 60px
    }
  }

  .sponsor-image-cloud__container {
    .sponsor-image-cloud__image {
      width calc(100vw - 200px)
    }
  }

  .sponsor--centered {
    margin 70px auto
    text-align center
  }
}

