$hacker-blue = #004EFB

.become-a-sponsor {
  .sponsor-email__container a {
    padding 12px

    color $hacker-blue

    border-color $hacker-blue
    border-bottom-width 7px
    border-style solid
  }

  .sponsor-paragraph__container {
    .sponsor-paragraph__title {
      color $hacker-blue
    }

    .sponsor-paragraph__text {
      color #000000
    }
  }

  .sponsor-image-cloud__container {
    .sponsor-image-cloud__image {
      width 90vw
    }
  }
}

