@import '../../../css/settings.styl'

.get-your-ticket
  .small-button
    padding 12px
  .eventbrite-loading
    margin-bottom -40px
    margin-right -20px
    padding 8px
  iframe
    height: 290px
    width 70vw
    max-width 900px
    @media screen and (max-width: $breakPointSmall)
      width 90vw
