@font-face
  font-family 'GT Pressura Mono Regular'
  src url('GT-Pressura-Mono-Regular.eot')
  src url('GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), url('GT-Pressura-Mono-Regular.woff') format('woff'), url('GT-Pressura-Mono-Regular.ttf') format('truetype'), url('GT-Pressura-Mono-Regular.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg')
  font-style normal
  font-weight 400

@font-face
  font-family 'GT Pressura Regular'
  src url('GT-Pressura-Regular.eot')
  src url('GT-Pressura-Regular.eot?#iefix') format('embedded-opentype'), url('GT-Pressura-Regular.woff') format('woff'), url('GT-Pressura-Regular.ttf') format('truetype'), url('GT-Pressura-Regular.svg#794d90b5e05386f96770ece72f92a411') format('svg')
  font-style normal
  font-weight 400



