@font-face
  font-family 'GT Pressura Mono Bold'
  src url('GT-Pressura-Mono-Bold.eot')
  src url('GT-Pressura-Mono-Bold.eot?#iefix') format('embedded-opentype'), url('GT-Pressura-Mono-Bold.woff') format('woff'), url('GT-Pressura-Mono-Bold.ttf') format('truetype'), url('GT-Pressura-Mono-Bold.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg')
  font-style normal
  font-weight 700

@font-face
  font-family 'GT Pressura Mono Regular'
  src url('GT-Pressura-Mono-Regular.eot')
  src url('GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), url('GT-Pressura-Mono-Regular.woff') format('woff'), url('GT-Pressura-Mono-Regular.ttf') format('truetype'), url('GT-Pressura-Mono-Regular.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg')
  font-style normal
  font-weight 400

@font-face
  font-family 'GT Pressura Regular'
  src url('GT-Pressura-Regular.eot')
  src url('GT-Pressura-Regular.eot?#iefix') format('embedded-opentype'), url('GT-Pressura-Regular.woff') format('woff'), url('GT-Pressura-Regular.ttf') format('truetype'), url('GT-Pressura-Regular.svg#794d90b5e05386f96770ece72f92a411') format('svg')
  font-style normal
  font-weight 400

@font-face
  font-family 'Letter Gothic Std'
  src url('LetterGothicStd-Bold.eot')
  src url('LetterGothicStd-Bold.eot?#iefix') format('embedded-opentype'), url('LetterGothicStd-Bold.woff') format('woff'), url('LetterGothicStd-Bold.ttf') format('truetype'), url('LetterGothicStd-Bold.svg#c37d6f66ccdbe8d2586bda474d215ceb') format('svg')
  font-style normal
  font-weight 700

@font-face
  font-family 'Stanley'
  src url('Stanley-Poster.eot'); /* IE9 Compat Modes */
  src url('Stanley-Poster.eot?#iefix') format('embedded-opentype'), url('Stanley-Poster.woff') format('woff'), url('Stanley-Poster.ttf') format('truetype'), url('Stanley-Poster.svg#74999d70e266f0c37d199770d82a592b') format('svg')
  font-style normal
  font-weight 400



