@import '../../../css/settings.styl'

.get-your-ticket
  .small-button
    padding 12px
  .eventbrite-loading
    margin-bottom -40px
    margin-right -20px
    padding 8px
  .bottom-div
    font-family: Helvetica, Arial;
    font-size: 12px;
    padding: 10px 0 5px;
    margin: 2px;
    width: 100%;
    text-align: left;
    .powered-by-eb
      color: #ADB0B6;
      text-decoration: none;