@import '../../../css/settings.styl'

.get-your-ticket
  width: 100%;
  text-align: left;

  .bottom-div
    font-family: Helvetica, Arial;
    font-size: 12px;
    padding: 10px 0 5px;
    margin: 2px;
    width: 100%;
    text-align: left;
    .powered-by-eb
      color: #ADB0B6;
      text-decoration: none;