@import '../../../css/settings.styl'

.get-your-ticket
  margin 0;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;

  &.get-your-ticket--success
    padding-top 30px
    text-align center

    h1
      text-transform uppercase

    .success__text
      padding 40px
      font-size 20px

  .middle-container
    display: table-cell;
    vertical-align: middle;

  .inner-container
    width 70vw
    margin auto
    margin-top 40px
    text-align center

  .other-font
    font-family "Raleway,HelveticaNeue,Helvetica"

  .email-input
    min-width 240px
    margin-bottom 40px
    text-align center
    padding: 10px;
    border: none;
    border-bottom: solid 2px #c9c9c9;
    transition: border 0.3s;
