@import '../../../css/settings.styl'

.faq
  text-align center
  .social-link
    font-family 'Stanley'
    font-size 12px
    color white
  .faq-one
    border-top 1px solid #797979
    padding 12px
    overflow: hidden;
    .faq-question
      color $hacker-blue
      font-family 'Stanley'
      font-size 28px
    .faq-text
      color white
      font-family 'Letter Gothic Std'
      line-height 0
      height 0
      overflow: hidden;
      margin-top 0
      margin-bottom 0
      transition(all 0.8s ease-in)
      &.faq-text--visible
        height auto
        line-height 2
        margin-top 14px
        margin-bottom 4px

  @media screen and (max-width: $breakPointSmall)
    .faq-question
      font-size 24px !important