html {
  position: absolute;

  // background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
  background: url(./background.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left top;
  //background-clip: border-box;
  background-position-y -40px;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 100%;
  max-height: 100%;

  z-index: -1;
}

//@keyframes MOVE-BG {
//  from {
//    transform: translateX(0);
//    //background-position: left 10%;
//  }
//  to {
//    transform: translateX(-50%);
//    //background-position: left 10%;
//  }
//}
//
//#map:hover {
//  animation: MOVE-BG 2s linear ;
//  //background-position: 10% 10%;
//}