html {
  position: absolute;

  // background: bg-color bg-image position/bg-size bg-repeat bg-origin bg-clip bg-attachment initial|inherit;
  background: url(./background.svg) black;
  background-size: 200% auto;
  background-repeat: no-repeat;
  //background-attachment: fixed;
  background-position: 0 0;
  //background-clip: border-box;
  //background-position-y -40px;
  //width: 300%;
  //min-width: 300%;
  //max-width: 300%;
  //height: 300%;
  //min-height: 300%;
  //max-height: 300%;

  z-index: -1;
}

//@keyframes MOVE-BG {
//  from {
//    transform: translateX(0);
//    //background-position: left 10%;
//  }
//  to {
//    transform: translateX(-50%);
//    //background-position: left 10%;
//  }
//}
//
//#map:hover {
//  animation: MOVE-BG 2s linear ;
//  //background-position: 10% 10%;
//}