@import "../../css/settings.styl"

.app-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
  padding 0 10px
  width: 100%;
  height: $footer-height-lg;
  z-index: 100;
  opacity: 1;
  display: flex;
  flex-direction: row;
  align-items: center;

  color: white;
  background-color: $dark-footer-gray;

  .app-footer--right {
    justify-self: flex-end;
  }

  a {
    font-size 18px
    letter-spacing 0.3px
    text-transform uppercase
    font-weight 400
    padding 12px
    margin-right 16px
    color $unselected-link-gray

    &.last-link {
      // does the contact link need extra styling?
    }
  }

  .link--active {
    color: $selected-link-gray;
  }
}