@import "../../css/settings.styl"

a
  text-decoration none

*
  -webkit-font-smoothing antialiased

body
  font-family 'GT Pressura Mono Regular'
  color white

html, body, #app, .app-wrapper
  width 100%
  min-height 100%
  background #1C1B1B

.content-container
  padding 30px
  padding-top 60px
  width 70vw
  text-align center
  margin auto
  h1
    text-transform uppercase
    font-family 'GT Pressura Regular'
  h2
    margin-top 28px
    margin-bottom 12px
    font-size 24px
    font-family 'GT Pressura Regular'
  .small-para
    text-align center
    margin auto
    width 50%
    max-width 400px

//@media screen and (max-width: $breakPointSmall)
//  padding 0

@media screen and (max-width: $breakPointSmall)
  .not-xs
    visibility hidden

@media screen and (mmin-width: $breakPointSmall)
  .only-xs
    display hidden