@import "../../css/settings.styl"

a
  text-decoration none

*
  -webkit-font-smoothing antialiased
  cursor: url(img/cursor.png), auto;

body
  font-family 'GT Pressura Regular'
  color white
  overflow-x hidden

html, body, #app, .app-wrapper
  width 100%
  min-height 100%
  background #1C1B1B
  max-width 100vw

.content-container
  padding 30px
  text-align center
  margin auto
  margin-bottom 50px
  overflow hidden
  @media screen and (max-width: $breakPointMedium)
    padding-top 4px
    padding-bottom 4px
  @media screen and (max-width: $breakPointSmall)
    padding 10px

  .textbox
    margin-top 50px
    margin-bottom 90px
    @media screen and (max-width: $breakPointMedium)
      margin-top 24px
      margin-bottom 24px
  h1
    text-transform uppercase
    font-family 'GT Pressura Regular'
    font-size 42px
    color rgba(255, 255, 255, 0.95)
    letter-spacing 1.92px
    margin-bottom 40px
  h2
    margin-top 28px
    margin-bottom 12px
    font-size 24px
    font-family 'GT Pressura Regular'
  h3
    margin auto
    max-width 90vw
    @media screen and (max-width: $breakPointSmall)
      margin-bottom 50px
  .small-para
    text-align center
    margin auto
    width 50%
    min-width 300px
    max-width 600px
    
  p
    font-size: 18px;
    color: rgba(255, 255, 255, 0.9);
    letter-spacing: 0px;

.wide
  width 100vw
  background #151515
  box-sizing border-box
  overflow-x hidden
  //padding 50px 150px
  padding 50px 30px
  @media screen and (max-width: $breakPointSmall)
    padding 0

.hidden
  display none

//@media screen and (max-width: $breakPointSmall)
//  padding 0

::-webkit-scrollbar {
  width: 12px;
  background #444
  border-left 5px solid #1C1B1B
  border-right 5px solid #1C1B1B
}

::-webkit-scrollbar-track {
}

::-webkit-scrollbar-thumb {
  background: url(./img/arrow.svg) #1C1B1B no-repeat;
  border-top 25px solid #1C1B1B
}

@media screen and (max-width: $breakPointSmall)
  .not-xs
    visibility hidden !important
    display none !important

@media screen and (min-width: $breakPointSmall)
  .only-xs
    display none !important
    visibility hidden !important

@media screen and (max-width: $breakPointMedium)
  .only-lg
    display none !important
    visibility hidden !important
