a
  text-decoration none

*
  -webkit-font-smoothing antialiased

body
  font-family 'GT Pressura Mono Trial'

html, body, #app, .app-wrapper
  width 100%

.content-container
  padding 30px
  margin-bottom $footer-height-lg
  margin-top 0

.ticket-button
  padding 48px
  position absolute
  margin auto auto
  right 0

  .ticket-button__image
    min-width 150px
    width 10vw
    max-width 300px