@import '../../../css/settings.styl'

.schedule
  margin-bottom: 100px
  .schedule-container
    display flex
    justify-content center
    flex-wrap wrap
    align-content flex-start
    .schedule-column
      min-width 250px
      width 25vw
      max-width 350px
      margin 12px
      padding 80px 24px
      background #151515
      flex 1 0 auto
      @media screen and (max-width: $breakPointMedium)
        min-width auto
        width 100%
        max-width auto
      h4
        font-weight: 600
        font-size 26px
        letter-spacing 2px
        padding-bottom 40px
      .schedule-item
        margin-bottom: 20px
        .schedule-item__time
          font-size: 12px
          letter-spacing 0.65px
          opacity 0.6
          @media screen and (max-width: $breakPointMedium)
            font-size: 13px
            line-height 1
        .schedule-item__text
          font-size: 16px
          opacity 0.9
          @media screen and (max-width: $breakPointMedium)
            margin 0
            padding 0
            line-height 1

.schedule__text-wrapper
  display: flex;
  justify-content: center;
  .schedule__text
    max-width: 340px
