@import "../../../css/settings.styl"

#modal
  //position: absolute;
  opacity 0.9
  background #121212
  margin auto auto

  max-width 1000px
  min-width 330px
  width 70vw
  height 70%
  max-height 70%
  margin-top 60px

  color white
  @media screen and (max-width: $breakPointSmall)
    width 90%
    height 100%
    margin-top 0
    padding 12px
    min-width 90%

  .modal__header
    display flex
    .modal__header__item
      flex 1 0 auto
    .left:hover, .right:hover
      opacity 0.6
    .left
      text-align left
    .center
      text-align center
      text-transform uppercase
    .right
      text-align right

  .modal__title
    font-family 'Stanley'
    text-align center
    letter-spacing 2px
    // A9A9A9
    .modal__title--header
      font-size 4vw
      color $hacker-blue
    .modal__title--text
      color white
  fieldset
    border 4px solid #101B29
    display block
    padding 20px
    padding-left 40px
    position: relative;
    min-height 130px
  legend
    vendor('writing-mode', tb-rl)
    //margin-top 50%
    text-transform uppercase
    transform(rotate(180deg))
    text-align: center;
    padding: 3px;
    height: 100%;
    position: absolute;
    left: -22px;
    top: 0;

  .small-button
    font-family 'Stanley'
    text-align center
    letter-spacing 2px
    font-size 2.4rem
    font-weight 600
    color $hacker-blue

.fieldset__container
  text-align center
  //display flex
  //align-items center
  //justify-content center
  p
    margin 0
  .fieldset__container-wrapper
    margin auto
    display flex
    align-items center
    justify-content center
    flex-wrap wrap
  .circle-image__container--big
    width 200px !important
  .circle-image__container, .circle-image__container--big
    margin 12px
    //flex 1 0 auto
    float left
    width 160px
    text-align center
    .circle-image
      width 120px
      height 120px
      border-radius 50%
  .full-image__container
    margin 12px
    float left
    text-align center
    .full-image
      color white
      height 100px
  .image-text-title
    color white
  .image-text
    color white
  .image-text-2
    font-family 'Letter Gothic Std'
  @media screen and (max-width: $breakPointBig)
    .full-image
      max-width 200px !important

.text
  font-family 'Stanley'
  text-align center
  letter-spacing 2px
  color white