<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="map"></div>
</body>
</html>

<!-- Mapbox.js -->
<style type="text/css">
    #map {
        position: absolute;
        width: 100%;
        z-index: -1;
        height: 100%;
    }
</style>
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet'/>
<script>
    // Provide your access token
    L.mapbox.accessToken = 'pk.eyJ1Ijoid2FzY2huaWNrIiwiYSI6ImNpdGlheWE5MTAwMWU0dHFua2RsZ3N1aXgifQ.l4zhXE3oA4idoaajUYlHQg';
    // Create a map in the div #map
    var map = L.mapbox.map('map', 'mapbox.light', {
        scrollWheelZoom: false,
        zoomControl: false,
        style: 'mapbox://styles/mapbox/dark-v9', //hosted style id
        //style: 'mapbox://styles/waschnick/citib8ehl002h2jtk64xvv6uy', //hosted style id
        center: [52.31, 13.24], // starting position
        zoom: 3 // starting zoom
    });

    // HINT LATITUDE, LONGITUDE
    map.setView([52.5243700, 13.4105300], 14);

    // Disable drag and zoom handlers.
    map.dragging.disable();
    map.touchZoom.disable();
    map.doubleClickZoom.disable();
    map.scrollWheelZoom.disable();
    map.keyboard.disable();

    // Disable tap handler, if present.
    if (map.tap) {
        map.tap.disable();
    }
</script>
<!-- End mapbox.js script -->