@font-face
  font-family 'GT Pressura Mono Trial'
  src url('../fonts/GT-Pressura-Mono-Bold.eot')
  src url('../fonts/GT-Pressura-Mono-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Pressura-Mono-Bold.woff') format('woff'), url('../fonts/GT-Pressura-Mono-Bold.ttf') format('truetype'), url('../fonts/GT-Pressura-Mono-Bold.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg')
  font-style normal
  font-weight 700

@font-face
  font-family 'GT Pressura Mono Trial'
  src url('../fonts/GT-Pressura-Mono-Regular.eot')
  src url('../fonts/GT-Pressura-Mono-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/GT-Pressura-Mono-Regular.woff') format('woff'), url('../fonts/GT-Pressura-Mono-Regular.ttf') format('truetype'), url('../fonts/GT-Pressura-Mono-Regular.svg#ee290c1ca299417443ead9e880cc0ea5') format('svg')
  font-style normal
  font-weight 400