@import "../../../css/settings.styl"

.jury
  &.content-container
    @media screen and (max-width: $breakPointSmall)
      padding-left 0
      padding-right 0
  .circle-image__item
    padding 20px 0 60px 
  .what-you-need
    width 300px
    margin auto
    padding-left 20px
    div
      text-align left
    .percent-text
      display inline-block
      width 46px
  .image-text-name
    font-size 24px
    margin 0
    @media screen and (max-width: $breakPointSmall)
      font-size 16px
  .image-text-job
    font-size 16px
    @media screen and (max-width: $breakPointSmall)
      font-size 12px
  .image-text-desc
    padding 12px
    display none !important