.jury__fieldset
  .jury__fieldset__container
    text-align center
    .jury__fieldset__container-wrapper
      margin auto
      .jury-member
        margin 12px
        float left
        width 160px
        text-align center
        p
          margin 0
        .jury-head
          width 120px
          height 120px
          border-radius 50%
        .jury-name
        .jury-text
          color white