#schedule
  margin-bottom: 150px

.schedule-column
  h4
    font-weight: 600
  .schedule-item
    margin-bottom: 20px
    .schedule-item__time
      font-size: 17px
    .schedule-item__text
      margin-top: -5px
      font-size: 20px
