#schedule
  margin-bottom: 150px

.schedule-container
  margin-top: 50px
  display flex
  justify-content center
  flex-wrap wrap
  align-content flex-start
  .schedule-column
      min-width 250px
      width 25vw
      max-width 350px
      margin 12px
      padding 24px
      background #151515
      flex 1 0 auto

      h4
        font-weight: 600
      .schedule-item
        margin-bottom: 20px
        .schedule-item__time
          font-size: 17px
        .schedule-item__text
          font-size: 20px

.schedule__text-wrapper
  display: flex;
  justify-content: center;
  .schedule__text
    max-width: 340px
