.ticket-button
  background #0000FF
  text-align right
  padding-top 4px
  padding-right 4px

  :hover
    opacity 0.7
  a.ticket-button-link
    padding 5px
    margin 0
    margin-left 12px
    color white !important
    text-transform uppercase
    font-family 'GT Pressura Mono Bold'

//  @media screen and (max-width: $breakPointMedium)
//    padding 12px
//  .circle-left__container
//    display none
//@media screen and (min-width: $breakPointMedium) and (max-width $breakPointBig)
//padding 24px
//@media screen and (max-width: $breakPointSmall)
//display none