@import '../../../css/settings.styl'

.get-your-ticket
  padding 0
  iframe
    margin-top 20px
    height: 480px
    width 70vw
    max-width 900px
    @media screen and (max-width: $breakPointSmall)
      width 100vw