@import '../../../css/settings.styl'

.extra-infos
  .textbox
    .container
      text-align left
      max-width 950vw
      width 420px
      .logo-container
        text-align center
      ul
        margin-left 30px